@charset "utf-8";
@keyframes twingle {

    0% {
        // display: none;
        opacity: 1;
    }

    50% {
        // display: inline-block;
        opacity: 0;
    }

    100% {
        // display: inline-block;
        opacity: 1;
    }
}

.twingle1 {

    @include animation(twingle 0.3s 1s 3 ease-out);


}



@keyframes fontbulger {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}


.twingle2 {
   animation: fontbulger 2s infinite;
}
