.highlevel-overlay {
    position: fixed;
    z-index: 101;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
    .highlevel-loading {

        position: absolute;
        top: 50%;

        left: 50%; // background-image: url('/ev/images/ajax-loader.gif');
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;

        .lds-spinner div {

            background: $color-grey04;
        }

        img {
            position: relative;
            top: calc(50% - 15px);
            left: calc(50% - 15px);
            animation-name: loadingCover;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

.tutorialbanner {
    background-color: #F0F0F0;
    @extend .layout-contentmaxwidth;
    padding: 0;

    text-align: center;
    img {
        display: block;
    }
}

.tutoriallist {
    @extend .layout-contentmaxwidth;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    .tutoriallist__inner {}
    .tutoriallist__item {}
}

.tutorialitem {
    padding: 10px 15px;

    display: block;
    width: 100%;
    overflow: hidden;
    min-height: 46px;

    .tutorialitem__inner {

        position: relative;
        line-height: 26px;
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .icon {
        min-height: 26px;
        float: left;
        position: absolute;
        top: 50%;
        left: 0px;
        height: 26px;

        @include transform( translateY(-50%));
        img {
            max-height: 26px
        }

        &+.title {
            padding-left: 25px;
        }
    }

    .title {
        padding-right: 25px;
        max-width: 100%; // max-width: calc(100% - 35px - 35px);
        margin-left: 10px;
        margin-right: 10px;
        float: left;
        .text {
            min-height: 26px;
            font-size: 16px;
            line-height: 26px;

            a {
                color: #4a4a4a;
                font-size: 16px;

                text-decoration: none;
            }
        }
    }

    .go {
        position: absolute;

        top: 50%;
        right: 0px;
        height: 26px;
        float: right;

        background-position: center;
        background-size: 50%;
        width: 26px;
        background-repeat: no-repeat;
        background-image: url('./../images/tutorial_icon_go.png');
        @include transform( translateY(-50%));
    }
    &+.tutorialitem {
        border-top: 1px solid #eee
    }
    &:first-of-type {
        border-top: 1px solid #eee
    }
    &:last-of-type {
        border-bottom: 1px solid #eee
    }
}

.pagetitle {
    @extend .layout-contentmaxwidth;
    .pagetitle__inner {
        padding: 8px 0;
        border-bottom: 1px solid #aaa;
    }
    .text {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        font-weight: bold;
        color: #444;
    }

    &+.pageabnner {
        margin-top: 30px;
    }
}

.pageabnner {
    @extend .layout-contentmaxwidth;
    .pageabnner__inner {
        background-color: #F0F0F0;

        text-align: center;
    }
    img {
        display: block;
    }

    &+.pagecontent {
        margin-top: 15px;
    }
}

.pagecontent {
    @extend .layout-contentmaxwidth;
    .pagecontent__inner {

        ul,
        p,
        ol {
            &+ul,
            &+p,
            &+ol {
                margin-top: 1rem;
            }
        }
        p,
        li {
            font-size: 15px;
            line-height: 1.2;
            color: #464646;

            +li {
                margin-top: 0.2em;
            }
        }

        ul,
        ul>li {
            list-style: disc;
            margin-left: 1em;
        }
    }
}
