@import "vars-mixins-reset";

html {

}

.main-content {
    overflow: hidden;
}

.layout-page {
    overflow: auto; // position: absolute;
    min-height: 100%; // top: 0px;
    // bottom: 0px;
}

html,
body {
    min-height: 100%;
}

html {
    position: relative;
}

.height-stretched {
    .main-header {}
    .main-content {}
    .main-footer {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
    }
    .layout-page {

    }
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.lds-spinner {
    position: relative;
}

.lds-spinner div {
    position: absolute;
    top: 48px;
    left: 94px;

    width: 12px;
    height: 24px;

    background: #ffffff;
    -webkit-animation: lds-spinner linear 1s infinite;
    animation: lds-spinner linear 1s infinite;
    border-radius: 40%;
    -webkit-transform-origin: 6px 52px;
    transform-origin: 6px 52px;
}

.lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -.916666666666667s;
    animation-delay: -.916666666666667s;
}

.lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -.833333333333333s;
    animation-delay: -.833333333333333s;
}

.lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -.75s;
    animation-delay: -.75s;
}

.lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -.666666666666667s;
    animation-delay: -.666666666666667s;
}

.lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -.583333333333333s;
    animation-delay: -.583333333333333s;
}

.lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s;
}

.lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -.416666666666667s;
    animation-delay: -.416666666666667s;
}

.lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -.333333333333333s;
    animation-delay: -.333333333333333s;
}

.lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -.25s;
    animation-delay: -.25s;
}

.lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -.166666666666667s;
    animation-delay: -.166666666666667s;
}

.lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -.083333333333333s;
    animation-delay: -.083333333333333s;
}

.lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.lds-spinner {
    width: 50px !important;
    height: 50px !important;
    -webkit-transform: translate(-25px, -25px) scale(.25) translate(25px, 25px);
    transform: translate(-25px, -25px) scale(.25) translate(25px, 25px);
}

// font size init
body.page {
    @include breakpoint($mobile_above) {
        font-size: $fz-content;
    }
    @include breakpoint($mobile) {
        font-size: $fz-content_m;
    }
}

//lang init
html {
    &[lang="en"] {
        .langlist {
            .toen {
                display: none;
            }
        }
    }
    &[lang="zh"] {
        .langlist {
            .tozh {
                display: none;
            }
        }
    }
}

.layout-page {
    overflow: hidden;
    width: 100%;
}

.layout-contentmaxwidth {
    position: relative;

    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: $content-maxwidth;
    margin-left: auto;
    margin-right: auto;
} //btn
%link {
    display: inline;
    padding: 0;
    margin: 0;

    color: $color-blue02;

    font-size: inherit;
    line-height: inherit;
    vertical-align: inherit;

    @include touch-hover() {
        color: $color-blue03;
    }
}

%notlink {
    display: inline-block;
    padding: 0;
    margin: 0;

    background: transparent;
    color: $color-blue02;

    vertical-align: middle;
    text-decoration: none;

    @include breakpoint($mobile_above) {
        font-size: $fz-content;
    }
    @include breakpoint($mobile) {
        font-size: $fz-content_m;
    }

    @include touch-hover() {
        color: $color-blue02;
    }
}

a:not([role="button"]) {
    @extend %link;
}

[role="button"] {
    $buttonHeight-sm: 60px;
    $buttonInnerHeight-sm: $fz-subtitle;
    display: inline-block;
    box-sizing: border-box;
    height: $buttonHeight-sm;
    padding: ($buttonHeight-sm - $buttonInnerHeight-sm)/2 ($buttonHeight-sm - $buttonInnerHeight-sm)/2;

    color: $color-white;

    line-height: 1;
    vertical-align: middle;
    background-color: $color-blue02;
    text-decoration: none;
    @extend %notlink;
    @extend .btn--base;

    @include breakpoint($mobile_above) {
        font-size: $fz-subtitle;
        min-height: $fz-subtitle;
    }
    @include breakpoint($mobile) {
        font-size: $fz-subtitle_m;
        min-height: $fz-subtitle_m;
    }
    @include border-radius($borderradius--button);
    @include touch-hover() {
        color: $color-white;
        background-color: $color-blue03;
    }

    @include breakpoint($desktop) {
        min-width: 150px;
    }
}

//button
.btn--base {
    text-align: center;
    text-decoration: none;
}

.layout-mob-100w {
    @include breakpoint($mobile) {
        width: 100%;
    }
}

.slick-dots li button[role="button"] {
    width: 12px !important;
    height: 12px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    max-width: none !important;
    max-height: none !important;
}

//list
ul[type="none"] {
    position: relative;

    padding: 0;
    margin: 0;
    list-style: none;
}

.layout-fitfullwidth {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    width: 100%;
    .main-content__inner {
        position: relative;

        overflow: hidden;
        width: 100%;
        height: 100%;

        .section {
            overflow: hidden;
            width: 100%;
            clear: both;
            max-width: 100%;
        }
    }
}

span.name {
    display: inline-block;
    white-space: nowrap;
}

.main-container {
    display: block;
    overflow: hidden;
    width: 100%;
    clear: both;
}

a.anchor {
    position: relative;

    display: block;
    width: 100%; // margin-top: -105px;
    height: 0;
    padding: 0;
    margin: 0;

    line-height: 0; // width: 0px;
}
